Repository trundler-dev/sbox-sports, pull requests merged in 2022-05, with the labels that each got.

#14 Base gamemode + Base Player
  code/Game.cs
  code/base/Gamemode.cs
  code/base/Player.cs
Labels: code

#32 Implement UI Theme and cleaned up some UI code
  code/Base/Hud/Chat/ChatBox.scss
  code/Base/Hud/Controls/ControlGlyph.scss
  code/Base/Hud/Party/PartyLobby.scss
  code/Base/Hud/SportsHud.cs
  code/Base/Hud/SportsHud.html
  code/Base/Hud/SportsHud.scss
  code/UI/Chat/ChatEntry.cs
  code/UI/Chat/ChatHook.cs
  code/UI/Chat/ChatTextEntry.cs
  code/UI/Chat/SportsChatBox.cs
  code/UI/Chat/SportsChatBox.html
  code/UI/Chat/SportsChatBox.scss
  code/UI/Controls/ControlGlyph.cs
  code/UI/Controls/ControlGlyph.html
  code/UI/Controls/ControlGlyph.scss
  code/UI/Party/PartyInvite.cs
  code/UI/Party/PartyInvite.html
  code/UI/Party/PartyLobby.cs
  code/UI/Party/PartyLobby.html
  code/UI/Party/PartyLobby.scss
  code/UI/Party/PartyMember.cs
  code/UI/Party/PartyMember.html
  code/UI/Theme.scss
Labels: ui

#47 Basic bowling setup
  code/Gamemodes/Bowling/Bowling.cs
  code/Gamemodes/Bowling/Entities/BowlingBall.cs
  code/Gamemodes/Bowling/Entities/BowlingBallCarriable.cs
  code/Gamemodes/Bowling/Player/BowlingPlayer.cs
Labels: code

#59 Add Third Person Camera
  code/Base/CameraSystem/ThirdPersonCamera.cs
Labels: code

#62 Add interaction hint to nameplate; add template for PlayerNameplate
  code/UI/Nameplates/PlayerNameplate.cs
  code/UI/Nameplates/PlayerNameplate.html
  code/UI/Nameplates/PlayerNameplate.scss
  code/UI/Party/PartyInvite.cs
Labels: code, ui

#61 Gamemode Entities
  code/Base/Debug.cs
  code/Base/GamemodeSystem/Entities/BaseGamemode.TargetEntities.cs
  code/Base/GamemodeSystem/Entities/BaseGamemode.cs
  code/Base/GamemodeSystem/Entities/GamemodeOrb.cs
  code/Base/GamemodeSystem/Entities/GamemodePointEntity.cs
  code/UI/GamemodeSystem/GamemodeHudPanel.cs
Labels: code
